<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>

<body>
    <div align="center">
        <h2>Your Otp</h2>
        <form method="post" action="/newpasswordPost">
            Newpassword :  <input type="text" placeholder="Enter Your New Password" name="newpassword">
            Confirm Password :  <input type="text" placeholder="Enter Your New Password" name="cpassword">
            <input type="submit">
        </form>
    </div>
</body>

</html>